.header {
    grid-area: h;
    background-color: #3b5998;
    border-bottom: 2px solid black;
}

.header img {
    width: 450px;
}

.loginBlock {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
}