.post {
    vertical-align: top;
    display: inline-block;
    border-top: 1px dashed grey;
    border-bottom: 1px solid grey;
    text-align: center;
}

.postId {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 20px; 
}

.textPost {
    display: inline-block;
    word-wrap: break-word;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    position: relative;
    vertical-align: top;
    margin-top: 5px;
}

.postAvatar {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.postAvatar img{
    width: 90px;
    margin: 5px
}